.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background:#2c2c6c;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover{
    border-color: var(--color-primary-varient);
    background: transparent;
}

.portfolio_item_image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 5px;
    
}
 .new{
    height: 30vh;
 }

h2{
    text-align: center;
}
 @media screen and (max-width:1024px){
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

 }

 @media screen and (max-width:600px){
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

 }