header{
    height:100vh;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}


.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:0;
    bottom: 3rem;
    font-size: 2rem;
}


.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}



.me{
    
    /* background: linear-gradient(black,transparent); */
    width: 30rem;
    height: 50rem;

    position: absolute;
    
    left: calc(50% - 15rem);
    margin-top: -7rem;
  
    overflow: hidden;
    padding: 4rem 2rem 1.5rem;
    
}
#cont{
    padding-top: 20;
}


.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9;
}

@media screen and (max-width:1024px) {
  header{
    height: 68vh;
  }  
}


@media screen and (max-width:600px) {
    header{
      height:100vh;
    } 
    .header_socials,.scroll_down{
        display: none;
    } 
    
  }
  
.btn{
    width: 10rem;
}

#user{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  #user:before,
  #user:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  #user:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  #user:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
  /*  */

  